.highlight {
  color: goldenrod;
  font-size: 24px;
}

.filterColumn{
  font-weight:bold;
  font-style:italic;
  font-size: 24px;
}

table, td, th {
  border: 1px solid black;
}

td {
  padding: 5px;
}